
@font-face {
  font-family:'PartnerCondensed';
  src:font-url('PartnerCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Rostelecom-Bold';
  src:font-url('Rostelecom-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Rostelecom';
  src:font-url('Rostelecom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'NewsGoth';
  src:font-url('NewsGoth-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

